@charset "UTF-8";
/* リセットCss */
*,::before,::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: block;
}
ul,ol{
	list-style-type: none;
}
img{
	max-width:100%;
	height: auto;
	vertical-align: baseline;
}
/* ここからヘッダー */
header{
	background: linear-gradient(15deg,#4b6cb7,#182848);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 26px 0 25px 39px;
}
header h1{
	margin-right: 1em;
}
header nav ul li{
	display: inline-block;
	color: #fff;
}
header nav ul li{
	display: inline-block;
	-webkit-transform: skewX(150deg);
	-moz-transform: skewX(150deg);
	transform: skewX(150deg);
	border-right: 1px solid #fff;
}
header nav ul li:nth-last-child(1){
	border: none;
}
header nav ul li ruby{
	display:block;
	transform: skewX(-150deg);
	padding:0 20px;
	line-height: 1.3;
}
/* 「事業内容を更に見る」,「詳しく見る」ボタン */
.btn{
	color:#fff;
	text-decoration: none;
	text-align: center;
	margin: 30px 0;
	padding: 20px;
	width:100%;
}
.btn-bg--blue{
	background-color: #4b6cb7;
	display: block;
	max-width: 256px;
}
.--center{
	margin: 0 auto;
}

/* 施工相談ボタン、特注制作相談ボタン */
.btn-sekou{
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #b8614b;
	margin-right: 50px;
	max-width: 320px;
	padding-top: 28px;
	padding-bottom: 28px;
}
.btn-tokuchu{
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #191919;
	max-width: 320px;
	padding-top: 28px;
	padding-bottom: 28px;
}
/* ここからフォントサイズ、カラー等々 */

/* ルビ振る */
rt{
	display: flex;
	flex-direction: column;
	text-align-last: center;
}
p{
	font-size: 16px;
	line-height: 2;
}
.bg-white__area{
	margin-left: 20px;
}
h2.bg-white{
	background-color: #ffffff;
	box-shadow: 3px 3px 1px 1px #182848;
	color: #182848;
	width: fit-content;
	margin-top: 20px;
	font-size: 32px;
	padding: 10px 15px;
	position: relative;
	z-index: 1;
	-webkit-transform: skewX(150deg);
	-moz-transform: skewX(150deg);
	transform: skewX(150deg);
}
h2.bg-white span{
	display: block;
	transform: skewX(-150deg);
}
section h2{
	font-size: 48px;
	margin-bottom: 20px;
	text-align: center;
}
section.services h2,
section.about h2   {
	text-align: left;
}
h3{
	margin-bottom: 20px;
	font-size: 2em;
}
/* font-size */
.fs-large{
	font-size: 86px;
	color: #fff;
    	white-space: nowrap;
    	line-height: 1.2;
}
.--fs_24{
	font-size: 24px;
}
/* 余白 */
.mt30{
	margin-top: 30px;
}
/* ul/olタグ */
ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.align--center li:not(:nth-last-child(1)){
	margin-right:30px;
}
.align--center li:nth-child(1){
	margin-top: 50px;
}
.align--center li:nth-child(3n){
	margin-top: -50px;
}
.recruit_txt{
	background-color:#182848;
	opacity: .64;
	color: #fff;
	padding: 20px;
	position: relative;
	right: -55px;
	top: -39px;
	width: 85%;
	font-weight: bold;
}
/* worksエリア */
.works-item-list{
	margin-top: 30px;
}
.works-item-list li{
	background-color: #fff;
	box-shadow: 0 0 8px gray;
	width: 50%;
	margin-right: 50px;
	position: relative;
}
.works-item-list li img{
	width: 100%;
}
.works-item-list li .txt{
	width: auto;
	padding: 20px;
	text-align: left;
}
.works-item-list li .txt h4{
	color: #b8614b;
	font-size: 20px;
	margin-bottom: 20px;
}
.works-item-list li:nth-child(2){
	margin-right: 0;
}
.works-item-list li:before{
	display: flex;
    	justify-content: center;
    	align-items: center;
	width: 50px;
	height: 50px;
	background-color: #182848;
	color:#fff;
	position: absolute;
	top:-5%;
	left:-5%;
}
.works-item-list li:nth-child(1)::before{
	content: "01";
}
.works-item-list li:nth-child(2)::before{
	content: "02";
}
/* dl/dt/ddタグ */
dl{
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
dl::before{
	background-color: #182848;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: -23px;
	width: 175px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: skew(145deg);
}
dt.label{
	position: relative;
	left: -175px;
	color: #fff;
}
dd{
	color:#182848;
	font-weight: bold;
	margin-left: -11%;
}
dd>*{
	margin-right: 20px;
}
.label-2{
	background-color: #b8614b;
	border-radius: 4px;
	color: #fff;
	padding: 5px 10px;
	font-size: 80%;
}
/* ここからセクションエリア-------------- */
section{
	width:100vw;
	margin-top: 160px;
}
.first-view{
	background: url(../img/PC/top-image-1.png),linear-gradient(120deg,#4b6cb7,#182848);
	background-size: cover;
	height: 700px;
}
.first-view .text-contents{
	max-width: 1016px;
	margin:0 auto;
	padding-top: 120px;
	position: absolute;
	left:200px;
}
.news-list{
	text-align: center;
	background-color: #fff;
    	margin-top: 120px;
}
/* service-section */
.services{
	display: flex;
	justify-content: center;
	background: url(../img/PC/background-service.png) no-repeat ;
	background-size: cover;
	position: relative;
	top: 30px;
}
.services .txt-area{
	flex-basis: 47%;
	padding-left: 20px;
}
.about{
	background: url(../img/PC/background-image-about.jpg) no-repeat;
	background-size: cover;
	margin-top: 190px;
}
.about__contents{
	margin-right:auto;
	margin-left: 200px;
	padding:40px 0;
}
.inner-content{
	background-color: #fff;
	width: fit-content;
	padding:30px;
}
.contact{
	background: url(../img/PC/bckground-image-contact.jpg) no-repeat;
	background-size: cover;
}
.contact .inner-wrapper,
.works .inner-wrapper,
.recruit .inner-wrapper{
	max-width:1016px;
	margin:0 auto;
	padding:80px 0 0 0;
	text-align: center;
}
.contact{
	color: #fff;
}
.works{
	color:#000;
}
.recruit{
	margin-top: 160px;
}
.works{
	text-align: center;
	background: url(../img/PC/background-works.png) no-repeat center center;
	background-size: cover;
}

@media screen and (max-width:768px) {
	body{
		width:100%;
	}
}